{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{.Title}}</title>
</head>
<body>

<div class="form">
    <input type="text" name="name">
    <input type="text" name="text">
    <button id="AddTask">Создать</button>
</div>

    <div class="task-list">
        <div data-status="active">
            <div data-id="1" draggable="true" class="item">Hello</div>
            <div data-id="2" draggable="true" class="item">World</div>
        </div>
        <div data-status="complete"></div>
        <div data-status="delete"></div>
    </div>

    <script src="/assets/js/main.js"></script>
</body>
</html>
{{end}}
